#face{
    background-color: yellow;
    width: 1000px;
    height: 1000px;
}

#eyewhite1{
    background-color:white;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50px;
    bottom: 50px;
}

#eyewhite2{
    background-color:white;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50px;
    bottom: 50px;
}