body{
    background-color: #A9B5DF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px;
}

.heading{
    color: #7886C7;
    font-weight: bold;
    border-color: #2D336B;
    border-style: solid;
    width: 300px;
    text-align: center;
}

.subheading{
    color: #2D336B;
    font-weight: bold;
    border-color: #7886C7;
    width: 150px;
    text-align: center;
    border-style: dotted;
}

.img{
    width: 300px;
    border-color: #f6bffb;
    align-self: center;
    border-radius: 50%;
    border-width: 10px;
}