body{
    background-color: #A9B5DF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px;
}

.heading{
    color: #7886C7;
    font-weight: bold;
    border-color: #2D336B;
    border-style: solid;
    width: 300px;
    padding-left: 25px;
}